[submodule "darki"]
	path = darki
	url = https://github.com/superdarki/karuta-deck-darki
	branch = main
[submodule "vieux dragon"]
	path = vieux-dragon
	url = https://github.com/anim-int/karuta-deck-vieux-dragon
	branch = main
