[submodule "darki"]
	path = darki
	url = https://github.com/superdarki/karuta-deck-darki
	branch = main
[submodule "vieux dragon"]
	path = vieux-dragon
	url = https://github.com/anim-int/karuta-deck-vieux-dragon
	branch = main
[submodule "vieux noir"]
	path = vieux-noir
	url = https://github.com/anim-int/karuta-deck-vieux-noir
	branch = main
[submodule "loulou"]
	path = loulou
	url = https://github.com/anim-int/deck-loulou.git
[submodule "ceriseuh"]
	path = ceriseuh
	url = https://github.com/Wassim1703/karutadeck.git
[submodule "rootcan"]
	path = rootcan
	url = https://github.com/tornac1234/karuta-deck
[submodule "saywess"]
	path = saywess
	url = https://github.com/SayWess/karuta-deck-saywess
[submodule "andinox"]
	path = andinox
	url = https://github.com/andinox/karuta-decks
